@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$raleway: 'Raleway', sans-serif;
$kanit: 'Kanit', sans-serif;
$dancing: 'Dancing Script', cursive;

body {
    font-family: $raleway;
}