.faq {
    margin: 6.1rem auto 29.1rem;

    h4 {
        font-family: $kanit;
        font-size: 3rem;
        font-weight: 500;
        line-height: 4.8rem;
        color: $vermelho;
        margin-bottom: 2.4rem;
    }
}