.regionais-home {
    margin: 11.2rem auto 7.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 39rem;
        margin-right: 9.8rem;

        @include sm {
            max-width: 100%;
            margin: 0 0 3rem;    
        }

        .titulo::after {
            width: 120%;
        }

        p {
            font-size: 1.8rem;
            line-height: 2.5rem;
            margin-bottom: 4rem;
        }

        span {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.2rem;

            display: flex;
            align-items: center;

            img {
                margin-right: .557rem;
            }
        }
    }

    map {
        svg {
            height: fit-content;
            max-width: 41.5rem;

            a path {
                fill: $vermelho !important;
            }
        }
    }
}

.linknews-home {
    display: flex;
    justify-content: space-between;

    margin-bottom: 9.9rem;

    @include sm {
        flex-wrap: wrap;
    }

    .aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        max-width: 44.5rem;
        width: 100%;
        margin-right: 5.8rem;

        @include sm {
            margin-right: 0;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 100%;
            justify-content: space-around;
        }

        a {
            background-size: cover;

            span {
                font-size: 3.6rem;
                font-weight: 700;
                line-height: 4rem;
                text-align: center;
            }

            p {
                font-size: 2rem;
                font-weight: 500;
                line-height: 2.4rem;
                color: $branco;
                text-align: center;
            }
        }

        &__galeria {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 44rem;
            margin-bottom: 7.5rem;

            @include sm {
                max-width: 30rem;
                height: 20rem;
            }

            span {
                color: #FFB649;
                margin-bottom: 3.8rem;
            }

            p {
                max-width: 18.4rem;
            }
        }

        &__guia {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 27rem;
            
            @include sm {
                max-width: 30rem;
                height: 20rem;
            }

            span {
                max-width: 25.4rem;
                color: #AFFF04;
                margin-bottom: 2.9rem;
            }

            p {
                max-width: 26.9rem;
            }
        }
    }
}

.ultimas-noticias {
    max-width: 60.5rem;
}

.noticias__card {
    h3 {
        font-size: 2rem;
        font-weight: 700;
        color: #DE1026;
        line-height: 2.4rem;
        margin-bottom: 1.1rem;
    }

    p {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 1.539rem;
    }

    a {
        font-size: 1.6rem;
        font-weight: 700;
        color: #12304D;
    }
}

.tvabrigaf-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.9rem;

    article {
        max-width: 28rem;

        @include sm {
            max-width: 100%;
            margin-bottom: 3rem;
        }

        .titulo::after {
            width: 120%;
        }

        p {
            font-size: 2rem;
            font-weight: 500;
            line-height: 3rem;
            margin-bottom: 4.3rem;
        } 
    }
}

.faixa-amarela--agenda {
    display: flex;
    flex-direction: column;

    .titulo {
        text-align: center;
        padding-top: 2.8rem;
        margin: 0 auto 3rem;
        display: block;
    
        &::after {
            display: none;
        }
    }
}

.slider-agenda {
    max-width: 92rem;
    width: 90%;
    margin: 0 auto 4.4rem;

    .slick-track {
        padding: 1rem;
    }
    
    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: $branco, $alpha: .45);

        -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);

        max-width: 44.5rem;
        width: 100%;
        min-height: 23rem !important;
        margin-right: 3rem;

        article {
            margin: 2.2rem;
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        h3 {
            font-size: 2rem;
            font-weight: 800;
            line-height: 2.2rem;
            color: $vermelho;
        }

        p, a {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2.4rem;
            color: $font;
        }

        a {
            margin-top: 2rem;
            font-weight: 700;
        }
    }

    &__date {
        display: flex;
        align-items: center;

        font-family: $kanit;
        font-size: 3.6rem;
        font-weight: 600;
        color: $vermelho;

        margin-bottom: 2.616rem;

        img {
            margin-right: 1.356rem;
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        font-size: 0;
        background-image: url(../images/icons/arrow-slider.svg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 3.5rem;
        height: 3.5rem;
        z-index: 1;
        background-size: contain;
        cursor: pointer;

        @include sm {
            width: 3rem;
            height: 3rem;
            background-size: contain;
        }
    }

    .slick-prev {
        left: -4.7rem;
        transform: translateY(-50%);
    }

    .slick-next {
        right: -4.7rem;
        transform: translateY(-50%) rotate(180deg);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 3rem;
    margin: 8.5rem auto 11.7rem;

    &__icon {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        img {
            margin-top: 7rem;
        }
    }

    &__item {
        max-width: 35rem;
        width: 100%;
        height: 35rem;
        position: relative;
        background-color: #F0F5F8;

        -webkit-box-shadow: 1px 1px 1px 0px rgba(243,243,242,1);
        -moz-box-shadow: 1px 1px 1px 0px rgba(243,243,242,1);
        box-shadow: 1px 1px 1px 0px rgba(243,243,242,1);

        cursor: pointer;

        &:hover article {
            opacity: 1;
        }

        span {
            font-family: $kanit;
            font-size: 3rem;
            font-weight: 500;
            color: #055EB0;
            margin: auto 0 5.8rem;
            max-width: 16.5rem;
            text-align: center;
        }

        article {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            opacity: 0;
            transition: .3s all;
        }

        p {
            margin-top: 6.5rem;
            max-width: 30.5rem;
            font-size: 2.1rem;
            font-weight: 500;
            color: $branco;
            text-align: center;
        }

        .button {
            margin-bottom: 4.2rem;
        }
    }
}

.dualbanners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10.1rem;

    a {
        max-width: fit-content;
    }
}