.juridica {
    margin: 7.5rem auto 5.3rem;
    display: flex;
    flex-direction: column;

    & > article {
        margin: 5rem auto;

        p {
            font-size: 1.6rem;
            font-weight: 600;
        }
    }
    
    & ~ .blue-strip {
        padding: 2.3rem 0;
        margin-bottom: 30vh;
    }

    & ~ .apresentacoes {
        margin-top: 0;
        margin-bottom: 30vh;
    }
}

.blue-strip {
    width: 100%;
    text-align: center;
    display: block;
    background-color: #E4F2FF;
    font-size: 1.8rem;
    padding: 1.6rem 0;
    margin: 4.5rem 0 3.1rem;
}