.sobre {
    margin: 7.4rem auto 22.4rem;

    article {
        font-size: 1.8rem;
        font-weight: 400;
        white-space: pre-line;    

        strong {
            font-weight: 700;
        }
    }
}